pipeline/idr_parquet.json
{
	"name": "idr_parquet",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_par_folder",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "idrpar",
							"p_folder": "idr"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(length(activity('Get Metadata1').output.childItems),2 )",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*.parquet",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_par_folder",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "idrpar",
										"p_folder": "idr"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_par_folder",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "idrpar",
										"p_folder": "idrstg"
									}
								}
							]
						},
						{
							"name": "Rename_API_To_Temp",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "PUT",
								"headers": {
									"x-ms-rename-source": "/idrpar/idrapi",
									"x-ms-version": "2023-11-03"
								},
								"url": {
									"value": "https://storageadvjack.dfs.core.windows.net/idrpar/temp?mode=legacy",
									"type": "Expression"
								},
								"body": {
									"value": "@toLower('')",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://storage.azure.com"
								}
							}
						},
						{
							"name": "Rename_STAGE_To_API",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Rename_API_To_Temp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "PUT",
								"headers": {
									"x-ms-rename-source": "/idrpar/idrstg",
									"x-ms-version": "2023-11-03"
								},
								"url": "https://storageadvjack.dfs.core.windows.net/idrpar/idrapi?mode=legacy",
								"body": "@toLower('')",
								"authentication": {
									"type": "MSI",
									"resource": "https://storage.azure.com"
								}
							}
						},
						{
							"name": "Rename_Temp_To_STAGE",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Rename_STAGE_To_API",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "PUT",
								"headers": {
									"x-ms-rename-source": "/idrpar/temp",
									"x-ms-version": "2023-11-03"
								},
								"url": "https://storageadvjack.dfs.core.windows.net/idrpar/idrstg?mode=legacy",
								"body": "@toLower('')",
								"authentication": {
									"type": "MSI",
									"resource": "https://storage.azure.com"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}