adffactadvance/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adffactadvance"
		},
		"ls_datalake_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_datalake'"
		},
		"ls_sqlexpress_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sqlexpress'"
		},
		"ls_datalake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageadvjack.dfs.core.windows.net/"
		},
		"ls_restapi_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pokeapi.co/api/v2/pokemon"
		},
		"ls_sqlexpress_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-0KPSU0R\\SQLEXPRESS"
		},
		"ls_sqlexpress_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dbo"
		},
		"ls_sqlexpress_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "desktop-0kpsu0r\\lenovo"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/waitpipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_datalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_datalake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_datalake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_restapi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('ls_restapi_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/selfhosted')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_api_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_restapi",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "?offset={offset}",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_restapi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cdc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "cdc.json",
						"folderPath": "monitor",
						"fileSystem": "source"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"cdc_timestamp": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_dyn_csv_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_container": {
						"type": "string"
					},
					"p_folder": {
						"type": "string"
					},
					"p_file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().p_container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_emptyjson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "empty.json",
						"folderPath": "monitor",
						"fileSystem": "source"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_json_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "pokemon.json",
						"folderPath": "api",
						"fileSystem": "sink"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"count": {
							"type": "integer"
						},
						"next": {
							"type": "string"
						},
						"previous": {
							"type": "null"
						},
						"results": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									},
									"url": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_route_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "files",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "csvfiles",
						"fileSystem": "sink"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqlexpress')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_sqlexpress_properties_typeProperties_server')]",
					"database": "[parameters('ls_sqlexpress_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "Windows",
					"userName": "[parameters('ls_sqlexpress_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sqlexpress_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestApi')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "endpoint",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://pokeapi.co/api/v2/pokemon"
						}
					},
					{
						"name": "copy_json",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "endpoint",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"QueryParameters.offset": {
										"value": "RANGE:0:@{activity('endpoint').output.count}:20",
										"type": "Expression"
									}
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_api_source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_json_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-27T06:40:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_api_source')]",
				"[concat(variables('factoryId'), '/datasets/ds_json_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/router')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_route_source",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Switchfile",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@split(item().name,'.')[0]",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "customers",
												"activities": [
													{
														"name": "Copy_customers",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "DelimitedTextSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "DelimitedTextWriteSettings",
																	"quoteAllText": true,
																	"fileExtension": ".txt"
																}
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "ds_dyn_csv_source",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "source",
																	"p_folder": "files",
																	"p_file": {
																		"value": "@item().name",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_dyn_csv_source",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "sink",
																	"p_folder": "customers",
																	"p_file": {
																		"value": "@item().name",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											},
											{
												"value": "drivers",
												"activities": [
													{
														"name": "Copy_drivers",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "DelimitedTextSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "DelimitedTextWriteSettings",
																	"quoteAllText": true,
																	"fileExtension": ".txt"
																}
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "ds_dyn_csv_source",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "source",
																	"p_folder": "files",
																	"p_file": {
																		"value": "@item().name",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_dyn_csv_source",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "sink",
																	"p_folder": "drivers",
																	"p_file": {
																		"value": "@item().name",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											},
											{
												"value": "trips",
												"activities": [
													{
														"name": "Copy_trips",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "DelimitedTextSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "DelimitedTextWriteSettings",
																	"quoteAllText": true,
																	"fileExtension": ".txt"
																}
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "ds_dyn_csv_source",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "source",
																	"p_folder": "files",
																	"p_file": {
																		"value": "@item().name",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_dyn_csv_source",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "sink",
																	"p_folder": "trips",
																	"p_file": {
																		"value": "@item().name",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-27T13:03:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_route_source')]",
				"[concat(variables('factoryId'), '/datasets/ds_dyn_csv_source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/schema')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_route_source",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "data load",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"value": "@if(\r\n    equals(item().name,'customers.csv'),\r\n    pipeline().parameters.customers_schema,\r\n    if(\r\n        equals(item().name,'drivers.csv'),\r\n        pipeline().parameters.drivers_schema,\r\n        if(\r\n            equals(item().name,'trips.csv'),\r\n            pipeline().parameters.trips_schema,\r\n            ''\r\n        )\r\n    )\r\n)",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "ds_dyn_csv_source",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "source",
												"p_folder": "files",
												"p_file": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_dyn_csv_source",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "sink",
												"p_folder": "schema",
												"p_file": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"customers_schema": {
						"type": "object",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"name": "customer_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "customer_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "first_name",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "first_name",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_name",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_name",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "email",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "email",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "phone_number",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "phone_number",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "city",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "city",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "signup_date",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "signup_date",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									}
								}
							],
							"typeConversion": true,
							"typeConversionSettings": {
								"allowDataTruncation": true,
								"treatBooleanAsNumber": false
							}
						}
					},
					"drivers_schema": {
						"type": "object",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"name": "driver_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "driver_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "first_name",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "first_name",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_name",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_name",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "phone_number",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "phone_number",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "vehicle_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "vehicle_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "driver_rating",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "driver_rating",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "city",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "city",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									}
								}
							],
							"typeConversion": true,
							"typeConversionSettings": {
								"allowDataTruncation": true,
								"treatBooleanAsNumber": false
							}
						}
					},
					"trips_schema": {
						"type": "object",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"name": "trip_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "trip_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "driver_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "driver_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "customer_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "customer_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "vehicle_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "vehicle_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "trip_start_time",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "trip_start_time",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "trip_end_time",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "trip_end_time",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "start_location",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "start_location",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "end_location",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "end_location",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "distance_km",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "distance_km",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "fare_amount",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "fare_amount",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "payment_method",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "payment_method",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "trip_status",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "trip_status",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									}
								}
							],
							"typeConversion": true,
							"typeConversionSettings": {
								"allowDataTruncation": true,
								"treatBooleanAsNumber": false
							}
						}
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-27T14:15:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_route_source')]",
				"[concat(variables('factoryId'), '/datasets/ds_dyn_csv_source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_database')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqlexpress",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlexpress')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/injestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "last_cdc",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_cdc",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "LOAD",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "select * from  @{pipeline().parameters.schema}.@{pipeline().parameters.table} where last_updated > 'activity('last_cdc').output.value[0].cdc_timestamp'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_database",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "totalresults",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "last_cdc",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_sqlexpress",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "SELECT COUNT(*) AS totalresults\nFROM @{pipeline().parameters.schema}.@{pipeline().parameters.table}\nWHERE last_updated > \n@{if(\n    empty(pipeline().parameters.backdate),\n    activity('last_cdc').output.value[0].cdc_timestamp,\n    pipeline().parameters.backdate\n)}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "if new rows",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "totalresults",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('totalresults').output.resultSets[0].rows[0].totalresults,0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "LOAD_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "SELECT *\nFROM @{pipeline().parameters.schema}.@{pipeline().parameters.table}\nWHERE last_updated > \n@{if(\n    empty(pipeline().parameters.backdate),\n    activity('last_cdc').output.value[0].cdc_timestamp,\n    pipeline().parameters.backdate\n)}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_database",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sink",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "change_cdc",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "max_cdc",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "cdc_timestamp",
													"value": {
														"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc_timestamp",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_emptyjson",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_cdc",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "max_cdc",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "LOAD_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "ls_sqlexpress",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "select max(last_updated) as cdc_timestamp from @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "SOURCE"
					},
					"table": {
						"type": "string",
						"defaultValue": "Orders"
					},
					"backdate": {
						"type": "string",
						"defaultValue": "2025-09-24"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-26T09:12:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_cdc')]",
				"[concat(variables('factoryId'), '/datasets/ds_database')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlexpress')]",
				"[concat(variables('factoryId'), '/datasets/ds_sink')]",
				"[concat(variables('factoryId'), '/datasets/ds_emptyjson')]"
			]
		}
	]
}